<nav th:fragment="nav-menu">
  <ul>
    <li>
      <a href="#">Главная</a>
    </li>
    <li>
      <a href="#">Журнал</a>
      <ul>
        <li><a href="#">Добавить запись</a></li>
        <li><a href="#">Посмотреть записи</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Отвественные</a>
      <ul>
        <li><a href="#">Добавить отвественного</a></li>
        <li><a href="#">Посмотреть всех</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Пользователи</a>
      <ul>
        <li><a href="#">Добавить пользователя</a></li>
        <li><a href="#">Посмотреть всех</a></li>
      </ul>
    </li>
    <li><a href="#">Выход</a></li>
  </ul>
</nav>
