<nav th:fragment="nav-menu">
  <ul>
    <li>
      <a
        href="#"
        th:href="@{/}"
        >Главная</a
      >
    </li>
    <li>
      <a href="#">Журнал</a>
      <ul>
        <li>
          <a
            href="#"
            th:href="@{/entry/add}"
            >Добавить запись</a
          >
        </li>
        <li>
          <a
            href="#"
            th:href="@{/entry?page=0}"
            >Записи</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a href="#">Отвественные</a>
      <ul>
        <li>
          <a
            href="#"
            th:href="@{/employee/add}"
            >Добавить отвественного</a
          >
        </li>
        <li>
          <a
            href="#"
            th:href="@{/employee}"
            >Посмотреть всех</a
          >
        </li>
      </ul>
    </li>
    <li th:if="${showUserMenu eq true}">
      <a href="#">Инструменты</a>
      <ul>
        <li>
          <a
            href="#"
            th:href="@{/users/add}"
            >Добавить пользователя</a
          >
        </li>
        <li>
          <a
            href="#"
            th:href="@{/users}"
            >Все пользователи</a
          >
        </li>
        <li>
          <a href="#">Тип работы</a>
        </li>
        <li>
          <a href="#">Записи тип работы</a>
        </li>
      </ul>
    </li>
    <li>
      <a
        href="#"
        th:href="@{/logout}"
        >Выход</a
      >
    </li>
  </ul>
</nav>
