<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="/static/css/style.css"
      th:href="@{/css/style.css}" />
  </head>
  <body>
    <div class="wrapper">
      <header>
        <img
          src="/static/media/logohg.png"
          th:src="@{/media/logohg.png}"
          alt="Лого компании" />
      </header>

      <nav th:replace="~{menu/nav-menu :: nav-menu}"></nav>

      <main>
        <div class="add-entry">
          <form
            th:action="@{/entry/add}"
            method="POST">
            <select th:field="${entry.entryType}">
              <option
                value="0"
                selected>
                Тип выполняемой работы
              </option>
              <option
                th:each="type : ${T(com.novo.model.entry.enums.EntryType).values()}"
                th:value="${type}"
                th:text="${type}"></option>
            </select>

            <textarea
              placeholder="Введите подробное описание выполненной работы"
              th:field="${entry.text}"></textarea>

            <table>
              <thead>
                <tr>
                  <th colspan="5">Назначить отвественных сотрудников</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="emp : ${emps}">
                  <td colspan="1"><input type="checkbox" /></td>
                  <td
                    colspan="4"
                    th:text="${emp.firstName} + ' ' + ${emp.middleName} + ' ' + ${emp.lastName}">
                    Necessitatibus?
                  </td>
                </tr>
              </tbody>
            </table>
            <input
              type="submit"
              value="Добавить" />
          </form>
        </div>
      </main>
      <footer>footer</footer>
    </div>
  </body>
</html>
