<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="/static/css/style.css"
      th:href="@{/css/style.css}" />
  </head>
  <body>
    <div class="wrapper">
      <header>
        <img
          src="/static/media/logohg.png"
          th:src="@{/media/logohg.png}"
          alt="Лого компании" />
      </header>

      <nav th:replace="~{menu/nav-menu :: nav-menu}"></nav>

      <main>
        <div class="add-entry">
          <form
            th:action="@{/entry/add}"
            method="POST">
            <select>
              <option
                value=""
                selected>
                Тип выполняемой работы
              </option>
              <option value="">Телефония</option>
              <option value="">Сеть интернет</option>
              <option value="">Прочее</option>
            </select>
            <textarea
              name=""
              id=""
              cols="30"
              rows="10"
              placeholder="Введите подробное описание выполненной работы"></textarea>

            <label for="">Отвественные сотрудники:</label>
            <label for="">
              <input
                type="checkbox"
                name=""
                id="" />
              Employee name #1
            </label>
            <label for="">
              <input
                type="checkbox"
                name=""
                id="" />
              Employee name #2
            </label>
            <input
              type="submit"
              value="Добавить" />
          </form>
        </div>
      </main>
      <footer>footer</footer>
    </div>
  </body>
</html>
